
#Sobres{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 20px;
  font-family: inherit;
  color: var(--color-primary);
}
body.dark-mode #Sobres {
  color: var(--color-secondary);
}
.section-sobres{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 20px;
  font-family: inherit;
  color: var(--color-primary);
}
body.dark-mode .section-sobres {
  color: var(--color-secondary);
}
#abrirSobre{
  background-color: #1c3fda;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  transition: var(--transition-default);
  letter-spacing: 2px;
}
body.dark-mode #abrirSobre {
  background-color: var(--color-secondary);
  color: black;
}
#abrirSobre:hover {
  background-color: black;
  color: white;
}
body.dark-mode #abrirSobre:hover {
  background-color: black;
  color: white
}

.section-sobres-abiertos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}
#imagenPokemon{
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
}
.pokemonTipo {
display: inline-block;
padding: 5px;
font-size: 12px;
margin: 5px;
border-radius: 8px;
color: white;
background-color: var(--color-primary);
}
body.dark-mode .pokemonTipo {
  background-color: var(--color-secondary);
  color: black;
}
.pokemonTipo:empty {
  display: none;
}