h2 {
  font-size: 30px;
  margin-left: 100px;
}

.perfil-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

body.dark-mode .perfil-img {
  border: 2px solid var(--color-secondary);
  background-color: #222;
}

.perfil-container {
  display: flex;
  gap: 50px;
}

.perfil-form {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: 20px;
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.perfil-conexion {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.perfil-sobres{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

#borrarCuenta {
  display: flex;
  align-items: center;
  background-color: #a00018;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: var(--transition-default);
  letter-spacing: 2px;
  margin: 100px auto 0;
  padding: 10px;
  width: fit-content;
  min-width: 150px;
}

#borrarCuenta:hover{
  background-color: #555;
}

p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}